img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.image-row {
  display: flex;
  justify-content: center;
  /* gap: 0px; */
}

.image-row img {
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
}

table {
  width: 0.1%;
  margin-left: auto;
  margin-right: auto;
  font-size: smaller;
}

td {
  width: 0.1%;
  max-width: 100%;
  white-space: nowrap;
}
