img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.image-row {
  display: flex;
  justify-content: center;
  /* gap: 0px; */
}

.image-row img {
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
}

table {
  width: 0.1%;
  margin-left: auto;
  margin-right: auto;
  font-size: smaller;
}

td {
  width: 0.1%;
  max-width: 100%;
  white-space: nowrap;
}

pre code {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 12px;
}
code {
  white-space : pre-wrap !important;
}


#markdown-toc::before {
  content: "Table of Contents";
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-left: -1em;
}
#markdown-toc {
  background: rgb(239, 251, 255);
  border: 1px solid #ddd;
  padding: 1em 1em 1em 2em;
  border-radius: 8px;
  font-size: 1em;
  margin-left: 0;
  margin-bottom: 2em;
  width: 250px;
}
#markdown-toc ul {
  list-style-type: disc;
  margin-left: 1.5em;
}
