---
layout: default
---

<article class="post">

  <header class="post-header">
    {% if page.katex %}
      {% include katex.html %}
    {% endif %}
    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {% if page.date %}
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% endif %}
      {% if page.author %}
        • {{ page.author }}
      {% endif %}
    </p>
  </header>

  <div class="post-content">
    {% include anchor_headings.html html=content anchorBody="¶" %}
  </div>

</article>

<script src="https://utteranc.es/client.js"
        repo="alfredclwong/alfredclwong.github.io"
        issue-term="pathname"
        label="utterances"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
